absl-py
asttokens
astunparse
cachetools
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
flatbuffers
focal-loss
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
imbalanced-learn
importlib-metadata
ipykernel
ipython
jedi
joblib
kaleido
keras
keras-self-attention
keras-tcn
kiwisolver
libclang
liblapack
libsodium
# libuuid
markdown
markupsafe
matplotlib
matplotlib-inline
ml-dtypes
nest-asyncio
nltk
numpy
opt-einsum
packaging
pandarallel
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pydot
pygments
pyparsing
python-dateutil
pytz
pyyaml
pyzmq
readline
regex
requests
requests-oauthlib
rsa
safetensors
scikeras
scikit-learn
scipy
seaborn
setuptools
sgt
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-addons
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tk
tokenizers
tornado
tqdm
traitlets
transformers
typeguard
tzdata
urllib3
wcwidth
werkzeug
wheel
wrapt
zipp
